* {
    box-sizing: border-box;
    /* transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99); */
}

body {
    margin: 0;
}

.sec1-container {
    text-align: center;
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
}

.sec1-background {
    position: relative;
    width: 800px;
    height: 440px;
    overflow: hidden;
    /* margin: auto; */
    text-align: center;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.8);
    animation-name: fade;
    animation-duration: 3s;
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
}

img {
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
}

.sec1-h1 {
    font-size: 40px;
    color: antiquewhite;
    position: absolute;
    letter-spacing: 10px;
    cursor: pointer;
    /* text-shadow: 0px 2px 50px rgba(0, 0, 0, 1); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    animation-name: fade2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
}

@keyframes fade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}
@keyframes fade2 {
    0% {opacity: 0%;}
    100% {opacity: 100%; color: rgb(231, 193, 143);}
    
}

.footer {
    padding-top: 20px;
    animation-name: fade;
    animation-duration: 3s;
}

.open .sec1-h1  {
    transform: translate(-83%, -50%);
    
}

.open .sec1-background img {
    transform: translate(-20%, 0%);
    
}

.contact-container {
    /* border: 1px solid black; */
    padding-top: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    background-color:antiquewhite;
    height: 440px;
    width: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translate(100%, 0%);
    transition: 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
}

.contact-header {
    font-size: 26px;
    /* padding: 20px; */
    padding-bottom: 30px;
    letter-spacing: 4px;
}

.contact {
    font-size: 16px;
    padding-bottom: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: black;
}

.open .contact-container  {
    transform: translate(0%, 0%);
    
}

.sec-one {
    height: 100vh;
    padding: 50px;
    /* margin-top: 40px; */
}

.sec-two {
    background-color:rgb(252, 246, 239);
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 50px;
    margin-top: 40px;
    margin: 20px;
}

.sec2-h1 {
    font-size: 30px;
    padding-bottom: 30px;
    letter-spacing: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

.about-section {
    background-color:rgb(252, 246, 239);
    /* box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5); */
    height: 100%;
    padding: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* display: flex; */
  }

.left-container {
    padding: 20px;
    font-size: 26px;
    letter-spacing: 4px;
    border-bottom: 1px solid black;
  }

.right-container {
    padding: 40px;
    content: "";
    display: table;
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .info-column {
    float: left;
    width: 33.33%;
    /* border: 1px solid black; */
  }



  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }

    .sec1-background {
        width: 600px;
    }

    .sec1-h1 {
        font-size: 35px;
    }

    .open .sec1-h1  {
        transform: translate(-93%, -50%);
    }

    
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .sec1-background {
        width: 450px;
    }

    .sec1-h1 {
        font-size: 35px;
    }

    .open .sec1-h1  {
        transform: translate(-95%, -50%);
    }

    .contact-header {
        font-size: 20px;
        /* letter-spacing: 1px; */
    }

    .contact {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .contact-container {
        width: 210px;
        
    }

    .right-container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    
    .info-column {
    float: left;
    width: 33.33%;
    border: 1px solid black;
    }
  }
